* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(79, 145, 156);
}

body {
  padding: 60px;
}

input {
  background-color: rgb(191, 230, 255);
  border-radius: 5px;
  border: 1px solid rgb(150, 62, 250);
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
  color: white;
}

h3 {
  font-size: 3rem;
  margin-bottom: 5px;
  color: rgb(224, 224, 224);
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card {
  align-content: center;
  align-items: center;
  background-color: rgb(37, 30, 35);
  border-radius: 10px;
  box-shadow: 4px 10px 8px rgb(22, 28, 29);
  display: flex;
  flex-direction: column;
  height: 0%;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.card p {
  background-color: rgb(37, 30, 35);
  color: white;
  flex: 1;
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 5px 20px 0px 20px;
  text-align: center;
}

.card img {
  width: 100%;
}
